<div class="banner">
  <div class="container">
    <div class="grid-banner">
      <div>
        <h1>Cécile Debever</h1>
        <h4>Psychologue clinicienne</h4>
        <p>Spécialisée dans la petite enfance, l'enfance et l'adolescence</p>
        <a class="btn btn-flat" href="https://rosa.be/fr/hp/cecile-debever/">Rendez-vous</a>
      </div>
      <%= image_tag 'logo.jpg', class: 'custom-logo'%>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="description">
    <div class="grid-banner">
      <div>
        <h2>Qui suis-je ?</h2>
        <p>Je suis psychologue clinicienne spécialisée dans l'accompagnement des enfants et des adolescents, mais je reçois également des jeunes adultes.</p>
        <h3>Ma formation</h3>
          <ul class="custom-list">
            <li><i class="fa-solid fa-graduation-cap"></i>Master en sciences psychologiques à finalité spécialisée - Université de Mons</li>
            <li><i class="fa-solid fa-graduation-cap"></i>Formation à la psychothérapie par le jeu - IFPJAE Michel Bossé</li>
            <li><i class="fa-solid fa-graduation-cap"></i>Formation en hypnose thérapeutique - Espace du possible</li>
            <li><i class="fa-solid fa-graduation-cap"></i>Formation en méditation pleine conscience - CentrEmergences Tournai</li>
            <li><i class="fa-solid fa-graduation-cap"></i>Formation sur les troubles du comportement alimentaire - Espace du possible Tournai</li>
        </ul>
      </div>
      <%= image_tag 'cec.jpg', class: 'picture'%>
    </div>
  </div>
</div>


<div class="middle-section">
  <div class="container">
    <div class="description">
      <div>
        <h2>Mon approche</h2>
        <p>J’accompagne, avec douceur et bienveillance, les enfants, adolescents et jeunes adultes pour toutes les problématiques liées à leur âge. Passionnée par l’analyse des dynamiques familiales et de l’impact qu’elles peuvent avoir sur leurs membres, je prévois de suivre une formation en psychothérapie systémique. Je suis en effet soucieuse de continuer à me former afin d’enrichir constamment ma pratique. Je viens d’ailleurs de terminer une formation en hypnose thérapeutique ainsi qu’en méditation pleine conscience.</p>
      </div>
      <div>
        <h2>Thématique</h2>
        <p>J’accueille les enfants, adolescents et jeunes adultes pour tout type de problématique : gestion et compréhension des émotions, accompagnement du deuil et des périodes difficiles comme la séparation parentale, harcèlement scolaire, phobie scolaire et autres phobies, décrochage scolaire, troubles du comportement, troubles du sommeil, troubles du comportement alimentaire, et bien plus encore.</p>
      </div>
    </div>
    </div>
</div>


<div class="container">
  <h2 class="mt-5">
    Lieux de consultation
  </h2>
  <div class="cards mt-3">
  <div class="card-trip">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.7503999911955!2d3.3651566917228846!3d50.594592398444746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2df91a136fdc7%3A0x77e403c45edf0efb!2sCentrEmergences%20Tournai!5e0!3m2!1sfr!2sbe!4v1723138568770!5m2!1sfr!2sbe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="card-trip-infos">
    <div>
      <a href="https://centremergences.be/centres/tournai">CentrEmergences Tournai</a>
    </div>
  </div>
  </div>
    <div class="card-trip">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2534.8807733981307!2d3.3034159268756835!3d50.55498717161239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2df1e6266286b%3A0x3ff955983c0f5871!2sCentrEmergences%20Rumes!5e0!3m2!1sfr!2sbe!4v1723138299375!5m2!1sfr!2sbe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="card-trip-infos">
    <div>
      <a href="https://centremergences.be/centres/rumes">CentrEmergences Rumes</a>
    </div>
  </div>
  </div>

  <div class="card-trip">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2531.2592504992263!2d3.7818426000000005!3d50.622300599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3abdbe11be40d%3A0x3e51ddf42c01c3a5!2sCentrEmergences%20Ath%20%3A%20centre%20de%20th%C3%A9rapie%20et%20de%20d%C3%A9veloppement%20personnel!5e0!3m2!1sfr!2sbe!4v1723138518386!5m2!1sfr!2sbe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="card-trip-infos">
    <div>
      <a href="https://centremergences.be/centres/ath">CentrEmergences Ath</a>
    </div>
  </div>
  </div>
  </div>
</div>
