<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://www.facebook.com/profile.php?id=100089333857088" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/c%C3%A9cile-d-0aa176108/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made by Meuris Mathys
  </div>
</div>
