.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(95.96deg, #faf2ea, #f1dacb 71.99%);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5); /* Light grey with 50% opacity */

  // Hide navbar on small screens
  @media (max-width: 575.98px) {
    display: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
